img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

figcaption {
	margin-top: 0.4em;
	font-size: 0.9em;
	color: #808080;
}

h1 {
	text-align: center;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

ul, ol, dl {
	page-break-before: avoid;
}

blockquote {
	padding-left: 1em;
}
