img {
	vertical-align: middle;
	max-width: 100%;
}

.img-container {
	display: inline-flex;
	flex-direction: column;
}

.img-caption {
	margin-top: 0.4em;
	font-size: 0.9em;
	color: #808080;
	text-align: center;
	/* wrap @ image width: */
	min-width: 100%;
	width: 0;
}

h1 {
	text-align: center;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

ul, ol, dl {
	page-break-before: avoid;
}

blockquote {
	padding-left: 1em;
}