img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

h1 {
	text-align: center;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

ul, ol, dl {
	page-break-before: avoid;
}

blockquote {
	padding-left: 1em;
}
