h1 {
	text-align: center;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

img {
	margin: auto;
	display: block;
	padding: 1em;
}

ul, ol, dl {
	page-break-before: avoid;
}

blockquote {
	padding-left: 1em;
}
